In [31]:
import math
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [32]:
df=pd.read_csv('CarPrice_Assignment.csv')

In [33]:
numeric_data = df.select_dtypes(include=[np.number])
categorical_data = df.select_dtypes(exclude=[np.number])

In [34]:
df1=df.drop(columns=categorical_data.columns)
df1.drop(columns=['car_ID','symboling','stroke','compressionratio','peakrpm'],inplace=True) # removing cols whose coof with price is less

In [35]:
df1

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,horsepower,citympg,highwaympg,price
0,88.6,168.8,64.1,48.8,2548,130,3.47,111,21,27,13495.0
1,88.6,168.8,64.1,48.8,2548,130,3.47,111,21,27,16500.0
2,94.5,171.2,65.5,52.4,2823,152,2.68,154,19,26,16500.0
3,99.8,176.6,66.2,54.3,2337,109,3.19,102,24,30,13950.0
4,99.4,176.6,66.4,54.3,2824,136,3.19,115,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,55.5,2952,141,3.78,114,23,28,16845.0
201,109.1,188.8,68.8,55.5,3049,141,3.78,160,19,25,19045.0
202,109.1,188.8,68.9,55.5,3012,173,3.58,134,18,23,21485.0
203,109.1,188.8,68.9,55.5,3217,145,3.01,106,26,27,22470.0
204,109.1,188.8,68.9,55.5,3062,141,3.78,114,19,25,22625.0

In [36]:
df2=df1.copy()
df2

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,horsepower,citympg,highwaympg,price
0,88.6,168.8,64.1,48.8,2548,130,3.47,111,21,27,13495.0
1,88.6,168.8,64.1,48.8,2548,130,3.47,111,21,27,16500.0
2,94.5,171.2,65.5,52.4,2823,152,2.68,154,19,26,16500.0
3,99.8,176.6,66.2,54.3,2337,109,3.19,102,24,30,13950.0
4,99.4,176.6,66.4,54.3,2824,136,3.19,115,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,55.5,2952,141,3.78,114,23,28,16845.0
201,109.1,188.8,68.8,55.5,3049,141,3.78,160,19,25,19045.0
202,109.1,188.8,68.9,55.5,3012,173,3.58,134,18,23,21485.0
203,109.1,188.8,68.9,55.5,3217,145,3.01,106,26,27,22470.0
204,109.1,188.8,68.9,55.5,3062,141,3.78,114,19,25,22625.0

In [7]:
X=df1.iloc[:,:-1]
y=df1.iloc[:,-1]
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=3)

In [9]:
X_train.shape

(164, 10)

In [10]:
X_test.shape

(41, 10)

In [11]:
from sklearn.preprocessing import minmax_scale

df1[['wheelbase','carlength']] = minmax_scale(df1[['wheelbase','carlength']])

In [12]:
df1

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,horsepower,citympg,highwaympg,price
0,0.058309,0.413433,64.1,48.8,2548,130,3.47,111,21,27,13495.0
1,0.058309,0.413433,64.1,48.8,2548,130,3.47,111,21,27,16500.0
2,0.230321,0.449254,65.5,52.4,2823,152,2.68,154,19,26,16500.0
3,0.384840,0.529851,66.2,54.3,2337,109,3.19,102,24,30,13950.0
4,0.373178,0.529851,66.4,54.3,2824,136,3.19,115,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...
200,0.655977,0.711940,68.9,55.5,2952,141,3.78,114,23,28,16845.0
201,0.655977,0.711940,68.8,55.5,3049,141,3.78,160,19,25,19045.0
202,0.655977,0.711940,68.9,55.5,3012,173,3.58,134,18,23,21485.0
203,0.655977,0.711940,68.9,55.5,3217,145,3.01,106,26,27,22470.0
204,0.655977,0.711940,68.9,55.5,3062,141,3.78,114,19,25,22625.0

In [13]:
from sklearn.preprocessing import MinMaxScaler

df1[['carwidth','carheight']] = minmax_scale(df1[['carwidth','carheight']])

In [14]:
df1

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,horsepower,citympg,highwaympg,price
0,0.058309,0.413433,0.316667,0.083333,2548,130,3.47,111,21,27,13495.0
1,0.058309,0.413433,0.316667,0.083333,2548,130,3.47,111,21,27,16500.0
2,0.230321,0.449254,0.433333,0.383333,2823,152,2.68,154,19,26,16500.0
3,0.384840,0.529851,0.491667,0.541667,2337,109,3.19,102,24,30,13950.0
4,0.373178,0.529851,0.508333,0.541667,2824,136,3.19,115,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...
200,0.655977,0.711940,0.716667,0.641667,2952,141,3.78,114,23,28,16845.0
201,0.655977,0.711940,0.708333,0.641667,3049,141,3.78,160,19,25,19045.0
202,0.655977,0.711940,0.716667,0.641667,3012,173,3.58,134,18,23,21485.0
203,0.655977,0.711940,0.716667,0.641667,3217,145,3.01,106,26,27,22470.0
204,0.655977,0.711940,0.716667,0.641667,3062,141,3.78,114,19,25,22625.0

In [21]:
df2

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,horsepower,citympg,highwaympg,price
0,88.6,168.8,64.1,48.8,2548,130,3.47,111,21,27,13495.0
1,88.6,168.8,64.1,48.8,2548,130,3.47,111,21,27,16500.0
2,94.5,171.2,65.5,52.4,2823,152,2.68,154,19,26,16500.0
3,99.8,176.6,66.2,54.3,2337,109,3.19,102,24,30,13950.0
4,99.4,176.6,66.4,54.3,2824,136,3.19,115,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,55.5,2952,141,3.78,114,23,28,16845.0
201,109.1,188.8,68.8,55.5,3049,141,3.78,160,19,25,19045.0
202,109.1,188.8,68.9,55.5,3012,173,3.58,134,18,23,21485.0
203,109.1,188.8,68.9,55.5,3217,145,3.01,106,26,27,22470.0
204,109.1,188.8,68.9,55.5,3062,141,3.78,114,19,25,22625.0

In [ ]:
df2

In [38]:
from sklearn.preprocessing import minmax_scale
# df2['carwidth'] = minmax_scale(df2['carwidth'])

for i in df2.drop(columns='price').columns:
    df2[i]=minmax_scale(df2[i])

In [39]:
df2

,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,horsepower,citympg,highwaympg,price
0,0.058309,0.413433,0.316667,0.083333,0.411171,0.260377,0.664286,0.262500,0.222222,0.289474,13495.0
1,0.058309,0.413433,0.316667,0.083333,0.411171,0.260377,0.664286,0.262500,0.222222,0.289474,16500.0
2,0.230321,0.449254,0.433333,0.383333,0.517843,0.343396,0.100000,0.441667,0.166667,0.263158,16500.0
3,0.384840,0.529851,0.491667,0.541667,0.329325,0.181132,0.464286,0.225000,0.305556,0.368421,13950.0
4,0.373178,0.529851,0.508333,0.541667,0.518231,0.283019,0.464286,0.279167,0.138889,0.157895,17450.0
...,...,...,...,...,...,...,...,...,...,...,...
200,0.655977,0.711940,0.716667,0.641667,0.567882,0.301887,0.885714,0.275000,0.277778,0.315789,16845.0
201,0.655977,0.711940,0.708333,0.641667,0.605508,0.301887,0.885714,0.466667,0.166667,0.236842,19045.0
202,0.655977,0.711940,0.716667,0.641667,0.591156,0.422642,0.742857,0.358333,0.138889,0.184211,21485.0
203,0.655977,0.711940,0.716667,0.641667,0.670675,0.316981,0.335714,0.241667,0.361111,0.289474,22470.0
204,0.655977,0.711940,0.716667,0.641667,0.610551,0.301887,0.885714,0.275000,0.166667,0.236842,22625.0

In [40]:
df2['Avg_mech']=(df2['wheelbase']+df2['carlength']+df2['carwidth']+df2['curbweight']+df2['enginesize']+df2['boreratio'])/6

In [42]:
df2.drop(columns=['wheelbase','carlength','carwidth','curbweight','enginesize','boreratio','citympg'],inplace=True)

In [43]:
df2

     carheight  horsepower  highwaympg    price  Avg_mech
0     0.083333    0.262500    0.289474  13495.0  0.354041
1     0.083333    0.262500    0.289474  16500.0  0.354041
2     0.383333    0.441667    0.263158  16500.0  0.345691
3     0.541667    0.225000    0.368421  13950.0  0.396850
4     0.541667    0.279167    0.157895  17450.0  0.446150
..         ...         ...         ...      ...       ...
200   0.641667    0.275000    0.315789  16845.0  0.640011
201   0.641667    0.466667    0.236842  19045.0  0.644893
202   0.641667    0.358333    0.184211  21485.0  0.640206
203   0.641667    0.241667    0.289474  22470.0  0.567992
204   0.641667    0.275000    0.236842  22625.0  0.647123

[205 rows x 5 columns]

In [44]:
X=df2.drop(columns=['price'])
y=df2['price']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=3)

In [46]:
y_train

135    15510.0
134    15040.0
41     12945.0
161     8358.0
159     7788.0
        ...
200    16845.0
184     7995.0
131     9895.0
152     6488.0
106    18399.0
Name: price, Length: 164, dtype: float64

In [47]:
lr=LinearRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

print("MAE",mean_absolute_error(y_test,y_pred))
print("MSE",mean_squared_error(y_test,y_pred))
print("R2 score",r2_score(y_test,y_pred))

MAE 3103.7929139038274
MSE 18227909.791689433
R2 score 0.7793674256569256

#  The R2 score still reduced. next itteration lets try OHE and then do the test